/* modificar a cor do navbar
    ajustar o tamanho do celular, sem que os botões parem de funcionar
*/

.nav-item{
    color: red;
    font-size: 1.3em;
    font-family: 'Cabin', sans-serif;
}
header{
    height: 100vh;
    min-height: 400px;
    background-size:cover;
    background-image: url(../img/fundo1.png);
    background-repeat:round; 
}

.unico{
    display: block;
    padding-top: 3em;
    font-family: 'Cabin', sans-serif;
    font-size: 2.2em;
    color: white;
}

.instale{
    padding-top: 7em;
}

#celulares1{
    width: 65vh;
    min-width: 20vh;
}
.celulares1{
    top: 0;
    right: 0;
}
.tdirp{
    display: block;
    color: black;
    font-size: 2.2em;
    padding-top: 8em;
    text-align: left ;
    font-family: 'Cabin', sans-serif;
}
#roxo{
    background-color: #7853D0;
}
.celulares{
    width: 100%;
    min-width: 20vh;
    margin-top: 10vh;
    margin-bottom: 10vh;
}
.tesqb{
    display: block;
    color: white;
    font-size: 2.2em;
    padding-top: 8em;
    text-align: left ;
    font-family: 'Cabin', sans-serif;
}
.tecel4{
    display: block;
    color: rgb(0, 0, 0);
    font-size: 2.2em;
    padding-top: 5em;
    text-align: right ;
    font-family: 'Cabin', sans-serif;
}

.tdcel4{
    display: block;
    color: rgb(0, 0, 0);
    font-size: 2.2em;
    padding-top: 10em;
    text-align: left ;
    font-family: 'Cabin', sans-serif;
}

#celular4{
    width: 100%;
    
}

.rodape{
    text-align: center;
    align-items: center;
}
.logorodape{
    height: 60%;
    margin-top: 3%;

}
