/* modificar a cor do navbar
    ajustar o tamanho do celular, sem que os botões parem de funcionar
*/

.nav-item{
    color: red;
    font-size: 1.3em;
    font-family: 'Cabin', sans-serif;
}
header{
    height: 100vh;
    min-height: 400px;
    background-size:cover;
    background-image: url(../img/fundo1.png);
    background-repeat:round; 
}

.unico{
    display: block;
    padding-top: 3em;
    font-family: 'Cabin', sans-serif;
    font-size: 2.2em;
    color: white;
}

.unicomob{
    padding-top: 1em;
    font-family: 'Cabin', sans-serif;
    font-size: 2.2em;
    color: white;
    display: none;
}

.instale{
    padding-top: 7em;
}

#celulares1{
    width: 85%;
    margin-top: -2em;    
}
.tdirp{
    display: block;
    color: black;
    font-size: 2.2em;
    padding-top: 8em;
    text-align: left ;
    font-family: 'Cabin', sans-serif;
}
#roxo{
    background-color: #7853D0;
}
.celulares{
    width: 100%;
    min-width: 20vh;
    margin-top: 10vh;
    margin-bottom: 10vh;
}
.tesqb{
    display: block;
    color: white;
    font-size: 2.2em;
    padding-top: 8em;
    text-align: left ;
    font-family: 'Cabin', sans-serif;
}
.tecel4{
    display: block;
    color: rgb(0, 0, 0);
    font-size: 2.2em;
    padding-top: 5em;
    text-align: right ;
    font-family: 'Cabin', sans-serif;
}

.tdcel4{
    display: block;
    color: rgb(0, 0, 0);
    font-size: 2.2em;
    padding-top: 10em;
    text-align: left ;
    font-family: 'Cabin', sans-serif;
}

.linha{
    z-index: 1000;
    margin-top: -19em;
    position: absolute;
    z-index: 1;
}
#linha{
    width: 100%;
    z-index: 1;
}

#celular4{
    width: 100%;
    z-index: 100;
    position: relative;

}

.rodape{
    text-align: center;
    align-items: center;
}
.logorodape{
    height: 60%;
    margin-top: 3%;

}
#celulares1Mob{
    display: none;
    
}
#celulares1{
    display: block;
}

.ultimapag{
    min-height: 105vh;
}


/*RODAPÉ*/
footer{
    background-color: #7853D0;
    padding: 50px 0;
}
.container-footer{
    max-width: 1400px;
    padding: 0 4%;
    margin: auto;    
}
.row-footer{
    display: flex;
    flex-wrap: wrap;
}
.footer-col{
    width: 25%;
    padding: 0 15px;
}
.footer-col h1{
    font-size: 2em;
    color: white;
    margin-bottom: 1.2em;
    font-weight: 500;
    position: relative;
    text-transform: uppercase;
    text-align: center;
}
.footer-col img {
    width: 12%;
    margin: 0 10px;
}
#loguinho{
    width: 80%;
    margin-top: 3rem;
}
.footer-col ul{
    list-style: none;
}
.footer-col ul li{
    margin: 10px 0 0 -30px;
    text-align: center;
}
.footer-col ul li a {
    font-size: 1.2em;
   /* text-transform: capitalize;  para primeira letra ficar maiúscula */
    color: white;
    text-decoration: none;
    font-weight: 300;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a :hover{
    color: blueviolet;
    padding-left: 10px;
}

.copyright {
    color: white;
    margin: 2em 0 0;
    font-size: 1.3em;
}


@media ( max-width:768px ) {
    #celulares1Mob{
        display: block;
        width: 80%;
        margin-top: 1em;
        text-align: center;
        margin-left: 1.3em;
    }
    #celulares1{
        display: none ;
    }
    header{
        background-image: none;
        background-color: #7853D0;
    }
    .unicomob{
        display: block;
        font-size: 1.8em;
        text-align: center;
    }
    .unico{
        display: none;
    }
    
    .instale{
        padding-top: 25em;
        text-align: center;
    }

    .tdirp{
        font-size: 1.8em;
        display: block;
        color: black;
        padding-top: 0;
        padding-bottom: 1.5em;
        text-align: center ;
        font-family: 'Cabin', sans-serif;
    }
    
    .celulares {
    
        width: 90%;
        text-align: center;
        margin-left: 1.8em;
    }

    .menpre{
        margin-top: 50em;
    }

    #linha{
        display: none;
    }
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }
}

@media (max-width:600px) {
    .footer-col{
        width: 100%;
    }
    #loguinho{
        width: 40%;
    }
    .footer-col img{
        width: 8%;
    }
}